body {
    margin: 20px;
}
.ssio-table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

.ssio-table, .ssio-table th, .ssio-table td {
    border: 1px solid black;
}

.ssio-table th {
    background-color: #f2f2f2;
    color: black;
    padding: 15px;
    text-align: left;
}

.ssio-table td {
    padding: 15px;
    text-align: left;
}
